checkpoints/viral-7b
llava.egg-info
wandb
playground/*
results/risultati-20251026.log
results/risultati-20251026.aux
results/risultati-20251026.synctex.gz
results/risultati-20251026.fdb_latexmk
results/risultati-20251026.fls
results/risultati-20250826.synctex.gz
